@charset "UTF-8";

.btn {
  display: block;
  background: #000;
  color: #FFF;
  font-size: 12px;
  width: 160px;
  height: 36px;
  line-height: 36px;
  letter-spacing: 0.015em;
  text-align: center;
}